<!DOCTYPE html>
<html lang="en">
<head>
<title>A long time ago 👽 in a galaxy far, far away...</title>
<!--
  _________             __    __     ____  __.                                  
 /   _____/ ____  _____/  |__/  |_  |    |/ _|___________   __ __  ______ ____  
 \_____  \_/ ___\/  _ \   __\   __\ |      < \_  __ \__  \ |  |  \/  ___// __ \ 
 /        \  \__(  <_> )  |  |  |   |    |  \ |  | \// __ \|  |  /\___ \\  ___/ 
/_______  /\___  >____/|__|  |__|   |____|__ \|__|  (____  /____//____  >\___  >
        \/     \/                           \/           \/           \/     \/ 
-->
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width, height=device-height"/>
<meta name="description" content="This is a coding exercise designed to demonstrate and prove proficiency in the Vue.js reactive framework. The technologies include advanced CSS, semantic markup, browser native APIs, accessible content and an overall mastery of browser capabilities.">
<link rel="stylesheet" type="text/css" href="./content/css/vue_voyagers.css"/>
<meta property="og:title" content="Scott C. Krause Front-end Engineer | Node.js TypeScript WASM React Vue.js">
<meta property="og:site_name" content="Scott C. Krause JavaScript Developer">
<meta property="og:url" content="http://thescottkrause.com/">
<meta property="og:description" content="I craft high-fidelity prototypes and then build responsive, accessible, and aesthetically delightful interfaces. I produce and advocate for optimized, asynchronous, reactive, functional, testable, and future-proof TypeScript and JavaScript.">
<meta property="og:type" content="website">
<meta property="og:image" content="http://thescottkrause.com/ux/typescript/engineer/wasm/javascript_typescript_developer.jpg">
<style type="text/css">
    .l-snackbar .snackbar__cont{border-radius:4px;background:linear-gradient(45deg,#763f44 0%,#733d41 100%);box-shadow:inset #665f50 0 0 6px 2px;border:solid 1px #d3cdb4;left:38%;min-width:188px;padding:0;position:fixed;transition:bottom .6s ease-in-out;user-select:none;z-index:6408}.l-snackbar .snackbar__cont--hide{bottom:-112px;transition:bottom .6s ease-in-out}.l-snackbar .snackbar__cont--show{bottom:4px;transition:bottom .6s ease-in-out}.l-snackbar .snackbar__progbar{background-color:#edba08;height:2px;padding:0;margin:0;position:relative;top:2px}.l-snackbar .snackbar__cont--hide .snackbar__progbar{width:0%;transition:all .1s ease-in-out}.l-snackbar .snackbar__cont--show .snackbar__progbar{width:101%;transition:all 6s ease-in-out}.l-snackbar .snackbar__msg{color:#fff;font-family:sans-serif;font-size:16px;margin:20px;text-align:center;white-space:nowrap}
    .l-reveal .reveal__box
    {position: absolute;z-index: 1005;top: 0;right: 0;left: 0;
    display: block!important;width: 100%;margin: 0 auto;padding: 8px;border: solid 1px #666;border-radius: 6px;background-color: #fff;box-shadow: 0 0 10px rgba(0,0,0,.4);
    }.l-reveal .reveal__scrim
    {position: fixed;z-index: 8;top: 0;right: 0;bottom: 0;left: 0;display: block!important;min-height: 100%;cursor: pointer;
    background: linear-gradient(rgba(228,198,126,.32),rgba(188,130,19,.68));background-position: 50% 0;background-size: cover;
    }.l-reveal .reveal-modal{display: none;}
    .l-reveal .small{width: 40%;}.l-reveal .medium{width: 60%;}.l-reveal .large{width: 76%;}
    .l-reveal .resp_x, .resp_x:hover
    {font-family: monospace;font-size: 28px;font-weight: 800;
    position: absolute;top: 2px;right: 10px;cursor: pointer;color: #444!important;}
    .l-reveal .resp_x:hover{color: #444!important;}
    .l-reveal .eml-msg__x{position: absolute;top: -42px;right: -18px;}
    @media only screen and (max-width:48em){
    .l-reveal .small{width: 85%;}.l-reveal .medium{width: 85%;}.l-reveal .large{width: 85%;}
    }
</style>
</head>
<body>
    <main id="js-main" role="main">
        <section>
            <article>
                <header><h2>Voyagers</h2>
                    <div>
                        <select class="select-css" v-on:change="VoySelect()" v-model="VoySelectValue"
                        :class="{ 'h-ds__none': ( RESTCount != 4 ) }">
                            <option value="Add">Add Voyager</option>
                            <option v-for="(oPerson, index) in aPeople" :value="index"> {{ oPerson.name + "  (" + oPerson.rank + ")"  }} </option>
                        </select>                        
                    </div>
                </header>
                <aside class="h-tx__ctr"><div>Name</div><div>Planet</div><div>Species</div><div>Gender</div><div>Rank</div><div>Actions</div></aside>
                <div class="voy--cont">
                    <section class="voy--grd" role="row"
                      v-for="(oPerson, index) in aPeopleSel">
                      <div> {{ oPerson.name }} </div>
                      <div> {{ oPerson.homeworld }} </div>
                      <div> {{ oPerson.species }} </div>
                      <div> {{ oPerson.gender }} </div>
                      <div> {{ oPerson.rank }} </div>
                      <div class="voy--actions">
                          <a v-on:click.prevent="VoyInfo( oPerson )">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 15c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1-8h-2V7h2v2z"/></svg>
                          </a>
                          <a v-on:click.prevent="VoyRemove( oPerson, index )">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v10zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
                          </a>
                      </div>
                    </section>
                </div>
                <div class="visual__data--species">
                </div>
            </article>
        </section>
        <section>
            <article>
                <header><h2>Crew Ships</h2>
                </header>
                <form  novalidate="novalidate" role="form">
                    <input maxlength="32" type="text" placeholder="* Ship Name"
                    v-model="Shp_name">
                    <select class="select-css" v-model="ShpSelectValue">
                        <option value="Add">Select Model</option>
                        <option v-for="(oStarship, index) in aStarships" :value="index"> {{ oStarship.model }} </option>
                    </select>
                    <a :class="{'cta_invalid' : ( !ShpMicrocopy[0] ) }"
                    v-on:click.prevent="ShpCTA()"> {{ ShpMicrocopy[1] }} </a>
                </form>
                <aside class="h-tx__ctr"><div>Ship Name</div><div>Crew Count</div><div>Model</div><div>Actions</div></aside>
                <div class="shp--cont shp__cont--bg">
                    <section class="shp--grd" role="row"
                        v-for="(oShp, index) in aShps">
                        <div> {{ oShp.name }} </div>
                        <div> {{ oShp.voyagers.length }} </div>
                        <div> {{ oShp.model.name }} </div>
                        <div class="shp--actions">
                            <a v-on:click.prevent="ShpEdit( oShp, index )">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>
                            </a>
                            <a v-on:click.prevent="ShpInfo( oShp )">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 15c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1-8h-2V7h2v2z"/></svg>
                            </a>
                            <a v-on:click.prevent="ShpRemove( oShp, index )">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v10zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
                            </a>
                        </div>
                    </section>
                </div>
            </article>
            <article>
                <header><h2>Created Voyages</h2>
                </header>
                <form  novalidate="novalidate" role="form">
                    <select class="select-css" v-model="ShpVoySelectShip"
                    v-on:change="saveShipVoyage()">
                        <option value="Add">Select Ship</option>
                        <option v-for="(oShp, index) in aShps" :value="index"> {{ oShp.name }} </option>
                    </select>
                    <select class="select-css" v-model="ShpVoySelectDepart"
                    v-on:change="saveShipVoyage()">
                        <option value="Add">Departure</option>
                        <option v-for="(oPlanet, index) in aPlanets" :value="index"> {{ oPlanet.name }} </option>
                    </select>
                    <select class="select-css" v-model="ShpVoySelectDest"
                    v-on:change="saveShipVoyage()">
                        <option value="Add">Destination</option>
                        <option v-for="(oPlanet, index) in aPlanets" :value="index"> {{ oPlanet.name }} </option>
                    </select>
                </form>
                <aside class="h-tx__ctr"><div>Ship</div><div>Departure</div><div>Destination</div><div>Actions</div></aside>
                <div class="shp--cont shp__cont--scape">
                    <section class="shp--grd" role="row"
                        v-for="(oShpVoy, index) in aShpVoys">
                        <div> {{ oShpVoy.ship.name }} </div>
                        <div> {{ oShpVoy.depart.name }} </div>
                        <div> {{ oShpVoy.dest.name }} </div>
                        <div class="shp--actions">
                            <a v-on:click.prevent="ShpVoyInfo( oShpVoy )">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 15c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1s1 .45 1 1v4c0 .55-.45 1-1 1zm1-8h-2V7h2v2z"/></svg>
                            </a>
                            <a v-on:click.prevent="ShpVoyRemove( oShpVoy.ship.name )">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v10zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
                            </a>
                        </div>
                    </section>
                </div>
            </article>
        </section>
    </main>



    <a55-rv class="l-reveal"><!-- Component Begin --> 
        <aside id="id-reveal__scrim" class="close-reveal-modal"></aside> 
    </a55-rv><!-- Component End --> 
    
    <ltdc-snackbar class="l-snackbar" role="alert"><!--  Component Begin  -->
        <section id="js-snackbar__id" class="snackbar__cont snackbar__cont--hide" aria-live="polite" aria-atomic="true">
            <div class="snackbar__progbar"></div>
            <p class="snackbar__msg"></p>
        </section>
    </ltdc-snackbar><!--  Component End  -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto+Slab:300,400" rel="stylesheet" type="text/css">
<script src="js/vue.min.js"></script>
<script src="https://platform.twitter.com/widgets.js"></script>
<script defer src="js/snackbar/snackbar.js"></script>
<script defer src="js/reveal/reveal.js"></script>
<script src="js/d3.min.js"></script>


<script>
'use strict';

var vVoyage = new Vue( {
  el: "#js-main",
  data: {
  aStarships: [],
  aPeople: [],
  aPeopleSel: [],
  aPlanets: [],
  aSpecies: [],
  aShps: [],
  aShpVoys: [],
  RESTCount: 0,
  VoySelectValue: "Add",
  ShpSelectValue: "Add",
  Shp_name: "",
  Shp_Editing: -1,
  ShpVoySelectShip: "Add",
  ShpVoySelectDepart: "Add",
  ShpVoySelectDest: "Add"
  },
  computed: {
    ShpMicrocopy: function(){  //  Passive Validation
        let aRet = [true, "Create Ship",""];  //  Dyn Button Wording (aka Microcopy)
        if( this.Shp_Editing !== -1 ) aRet = [true, "Save Ship",""];
        if( this.ShpSelectValue === "Add" )
            aRet = [false, "Select Model","Assign a model / class|to the ship."];
        if( !this.Shp_name )
            aRet = [false, "Name Ship","Assign a unique name|to the new ship."];
        if( !this.isShpNameUnique() )
            aRet = [false, "Ship Already Exists","That Ship name|already exists."];
        if( !this.hasShpCaptain() )
            aRet = [false, "Assign Captain","A voyager of the rank captain must|be on the ship's manifest."];
        if( this.aPeopleSel.length === 0 )
            aRet = [false, "Add Voyagers","Add one or more Voyagers with|at least one being a captain."];
        return aRet;
    },
    aPeopleSel_species: function(){  //  Rollup Chart Data
        const PROPERTY_CNT = "species";
        let oCounter = {}, aCounter = [];
        this.aPeopleSel.forEach( function( _e ){
            if( !oCounter[ _e[ PROPERTY_CNT ] ] ) oCounter[ _e[ PROPERTY_CNT ] ] = 0;
            oCounter[ _e[ PROPERTY_CNT ] ]++;
        } );
        Object.keys( oCounter ).forEach( function( _k ){
            aCounter.push( { "label": _k, "value": oCounter[ _k ] } );
        } );
        return aCounter;
    }
  },
  watch: {
      RESTCount : function(){  //  All JSON have been received
          const NUM_COMPLETE = 4, NUM_NOT_COMPLETE_ONE = 1, NUM_NOT_COMPLETE_TWO = 2;
          if( this.RESTCount === NUM_NOT_COMPLETE_ONE ) snck.q("Loading ...");
          if( this.RESTCount === NUM_NOT_COMPLETE_TWO ){
              if( this.one2ten() >= 6 ) snck.q("Please Wait ...");
          }
          if( this.RESTCount === NUM_COMPLETE ) this.RESTPost();  //  Init Sort and Gen Rank
      },
      aPeopleSel: function(){
d3.select(".visual__data--species").selectAll("div").remove();
d3.select(".visual__data--species") //  d3.js dynamic charting
  .selectAll("div")
    .data( this.aPeopleSel_species )
  .enter().append("div")
    .style("width", function( d ) { return d.value * 40 + 84 + "px"; })
    .text(function( d ) { return ( d.label + " | " + d.value ); });
      }
  },
  methods: {
    saveShipVoyage: function(){
        if( ( this.ShpVoySelectShip !== "Add" ) && ( this.ShpVoySelectDepart !== "Add" ) && ( this.ShpVoySelectDest !== "Add" ) ){
            if( this.ShpVoySelectDepart == this.ShpVoySelectDest ){
                snck.q("Departure and destination|cannot be the same.")
                playAudioFile( 3 );
            }else{
                let oShpVoy = {
                    ship: this.aShps[ this.ShpVoySelectShip ],
                    depart: this.aPlanets[ this.ShpVoySelectDepart ],
                    dest: this.aPlanets[ this.ShpVoySelectDest ]
                };
                this.aShpVoys.push( oShpVoy );
                this.ShpVoySelectShip = "Add";  //  Reset UI
                this.ShpVoySelectDepart = "Add";
                this.ShpVoySelectDest = "Add";
                snck.q( "The ship " + oShpVoy.ship.name + " will travel|from " + oShpVoy.depart.name + " to " + oShpVoy.dest.name + ".");
            }
        }
    },
    ShpVoyInfo: function( oShpVoy ){
        playAudioFile( 2 );
        snck.q( "Departure: " + oShpVoy.depart.name + "|Climate: " + oShpVoy.depart.climate + " Terrain: " + oShpVoy.depart.terrain );
        snck.q( "Destination: " + oShpVoy.dest.name + "|Climate: " + oShpVoy.dest.climate + " Terrain: " + oShpVoy.dest.terrain );
    },
    ShpVoyRemove: function( oShpVoy, indx ){
        playAudioFile( 1 );
        snck.q( "The voyage to " + oShpVoy.dest.name + " has been|canceled." );
        this.aShpVoys.splice( indx, 1 );
    },
    isShpNameUnique: function(){  // Is ship name unique
        if( this.Shp_name === "" ) return true;
        let aExists = this.aShps.filter( function( e, indx ){
            if( vVoyage.Shp_Editing === indx ) return false;
            if( e.name.toLowerCase() === vVoyage.Shp_name.toLowerCase() ) return true;
        } );
        return ( aExists.length === 0 );
    },
    ShpCTA: function(){  //  CTA clicked / touched
        const VAL_STATE = 0, VAL_MSG = 2;
        if( this.ShpMicrocopy[ VAL_STATE ] ){  //  Test valid state
            let oShp = {
                id: Date.now(),
                name: this.Shp_name,
                modelIndx: this.ShpSelectValue,
                model: this.aStarships[ this.ShpSelectValue ],
                voyagers: this.aPeopleSel
            };
            if( this.Shp_Editing === -1 ){  //  CRED | Upsert
                this.aShps.push( oShp );
            }else{
                this.aShps[ this.Shp_Editing ] = oShp;
            }
            snck.q( "The ship " + oShp.name + " has been|commissioned." );
            playAudioFile( 5 );
            this.ShpReset();
            this.Shp_Editing = -1;
        }else{
            snck.q( this.ShpMicrocopy[ VAL_MSG ] );
            playAudioFile( 3 );
        }
    },
    ShpReset: function(){  //  Reset UI and data
        this.aPeopleSel = [];
        this.Shp_name = "";
        this.ShpSelectValue = "Add";
    },
    ShpEdit: function( oShp, indx ){
        this.ShpReset();
        this.aPeopleSel = oShp.voyagers;
        this.Shp_name = oShp.name;
        this.ShpSelectValue = oShp.modelIndx;
        this.Shp_Editing = indx;
        playAudioFile( 6 );
    },
    ShpInfo: function( oShp ){
        playAudioFile( 2 );
        snck.q( "Cost: " + oShp.model.cost_in_credits + "|Manufacturer: " + oShp.model.manufacturer );
    },
    ShpRemove: function( oShp, indx ){
        playAudioFile( 1 );
        snck.q( oShp.name + " has been|decommissioned." );
        this.ShpVoyRemove( oShp.name );
        this.aShps.splice( indx, 1 );  //  TODO Cascade del voyages
    },
    ShpVoyRemove: function( sShipName ){
        this.aShpVoys = this.aShpVoys.filter( function( e ){
            return ( e.ship.name.toLowerCase() !== sShipName.toLowerCase() );
        } );
    },
    VoySelect : function(){  //  Drop-down Selected
        if( this.VoySelectValue !== "Add" ){
            if( this.nameExists( this.aPeople[ this.VoySelectValue ].name, this.aPeopleSel ) ){
                playAudioFile( 3 );
                snck.q( this.aPeople[ this.VoySelectValue ].name + " already exists on|the ship's manifest.");
            }else{
                this.aPeopleSel.push( this.aPeople[ this.VoySelectValue ] );
                this.VoySelectValue = "Add";
                playAudioFile( 4 );                
            }
        }
    },
    VoyInfo : function( oPers ){
        playAudioFile( 2 );
        snck.q( "Name: " + oPers.name + " Height: " + oPers.height + "|Hair: " + oPers.hair_color + " Eyes: " + oPers.eye_color );
    },
    VoyRemove : function( oPers, indx ){
        playAudioFile( 1 );
        snck.q( oPers.name + " has been jettisoned from |the ship's manifest." );
        this.aPeopleSel.splice( indx, 1 );
    },
    nameExists: function( name, arr ){
        let bExists = false
        arr.forEach( function( item ){
            if( item.name === name ) bExists = true;
        } );
        return bExists;
    },
    getSpeciesName : function( SpeciesURL = "https://swapi.co/api/species/4/" ){
        let SpeciesName = this.aSpecies.filter( function( e ){
            return ( SpeciesURL === e.url ); 
        } )[0].name;
        return SpeciesName;
    },
    getPlanetName : function( PlanetURL ){
        let PlanetName = this.aPlanets.filter( function( e ){
            return ( PlanetURL === e.url ); 
        } )[0].name;
        return PlanetName;
    },
    RESTPost : function(){  //  Init Sort by Name
        let _v = this;
        this.aStarships = this.aStarships.sort( ( a, b ) => {
            return ( a.model > b.model ) - ( a.model < b.model );
        });
        this.aPeople = this.aPeople.sort( ( a, b ) => {
            return ( a.name > b.name ) - ( a.name < b.name );
        });
        this.aPlanets = this.aPlanets.sort( ( a, b ) => {
            return ( a.name > b.name ) - ( a.name < b.name );
        });
        this.aPeople.map(function( p ){  //  Gen Rank | Denormalize
            const aRanks = ["Captain", "Crew","XO", "Space Cadet"];
            p.rank = aRanks[ (Math.floor(Math.random() * (4) )) ];
            p.homeworld = vVoyage.getPlanetName( p.homeworld );
            p.species = vVoyage.getSpeciesName( p.species[0] );
        });

//  Init some random data
this.aPeople.filter( function( _o ){
    if( _v.one2ten()  === 4 ) _v.aPeopleSel.push( _o );
} );

    },
    fRESTstarships : function( url = "https://swapi.co/api/starships/" ){
        let jResults=[];
        fetch( url )
            .then(( resp ) => resp.json())
            .then(function( rest ) {  //  API Recursive Pagination
                jResults = jResults.concat( Array.from( rest.results ) );
                vVoyage.aStarships = vVoyage.aStarships.concat( jResults );
                if( rest.next ){
                    vVoyage.fRESTstarships( rest.next, vVoyage.aStarships );
                }else{ vVoyage.RESTCount++; }
            });
    },
    fRESTpeople : function( url = "https://swapi.co/api/people/" ){
        let jResults=[];
        fetch( url )
            .then(( resp ) => resp.json())
            .then(function( rest ) {  //  API Recursive Pagination
                jResults = jResults.concat( Array.from( rest.results ) );
                vVoyage.aPeople = vVoyage.aPeople.concat( jResults );
                if( rest.next ){
                    vVoyage.fRESTpeople( rest.next, vVoyage.aPeople );
                }else{ vVoyage.RESTCount++; }
            });
    },
    fRESTplanets : function( url = "https://swapi.co/api/planets/" ){
        let jResults=[];
        fetch( url )
            .then(( resp ) => resp.json())
            .then(function( rest ) {  //  API Recursive Pagination
                jResults = jResults.concat( Array.from( rest.results ) );
                vVoyage.aPlanets = vVoyage.aPlanets.concat( jResults );
                if( rest.next ){
                    vVoyage.fRESTplanets( rest.next, vVoyage.aPlanets );
                }else{ vVoyage.RESTCount++; }
            });
    },
    fRESTSpecies : function( url = "https://swapi.co/api/species/" ){
        let jResults=[];
        fetch( url )
            .then(( resp ) => resp.json())
            .then(function( rest ) {  //  API Recursive Pagination
                jResults = jResults.concat( Array.from( rest.results ) );
                vVoyage.aSpecies = vVoyage.aSpecies.concat( jResults );
                if( rest.next ){
                    vVoyage.fRESTSpecies( rest.next, vVoyage.aSpecies );
                }else{ vVoyage.RESTCount++; }
            });
    },
    hasShpCaptain: function(){  //  Has a Captain on current manifest
        const aHasCpt = this.aPeopleSel.filter(function( e ){
            if( e.rank === "Captain" ) return true;
        });
        return ( aHasCpt.length !== 0 );
    },
    one2ten : function(){ return (Math.floor(Math.random() * (10) + 1)); }
  },
  mounted: function( e ){
    this.fRESTstarships();  //  Fetch JSON
    this.fRESTpeople();
    this.fRESTplanets();
    this.fRESTSpecies();
  }
});

var CnfState = {"audio": false};
var AudioContext = window.AudioContext || false;
if (AudioContext) {
  CnfState.audio = true;    //    Icanuse
  var oAudContx = new AudioContext();    //    HTML5 Audio
  var oAJAXReq = new XMLHttpRequest();   //    Get Sounds
  var aAudioBuffer = new Array(7);       //    Store Sound files
  var fetchSoundConfig = {sound_max: 7, sound_current: 1};    //    Sound limits
  setTimeout( function(){ fetchSound(); }, 5600);
}
function fetchSound() {
    //    AJAX a single sound binary
    oAJAXReq.open("GET", "au/a" + fetchSoundConfig.sound_current + ".mp3", true);
    oAJAXReq.responseType = "arraybuffer";
    oAJAXReq.send();
    oAJAXReq.onload = fetchSoundonload;
}
function fetchSoundonload() {
    //    The audio file has loaded via XHR
    oAudContx.decodeAudioData(oAJAXReq.response, function (decAudBuf) {
        aAudioBuffer[ fetchSoundConfig.sound_current ] = decAudBuf;
        fetchSoundConfig.sound_current = fetchSoundConfig.sound_current + 1;
        if(fetchSoundConfig.sound_current <= fetchSoundConfig.sound_max){
            oAJAXReq = new XMLHttpRequest();
            oAJAXReq.responseType = "arraybuffer";
            fetchSound( fetchSoundConfig.sound_current );
        }
    });
};
function playAudioFile( nSound ) {
  if( CnfState.audio === true ){  //  Play MP3 if sound toggle is true
    try{
      var oSrc = oAudContx.createBufferSource();
      var volume = oAudContx.createGain();
      oSrc.buffer = aAudioBuffer[nSound];
      oSrc.connect(volume);
      volume.connect(oAudContx.destination);
      oSrc.connect(oAudContx.destination);
      oSrc.start(oAudContx.currentTime);
    } catch( e ){}
  }
};
function playAudioRand( aSound ){  //  Either Or | array | max 2
  playAudioFile( aSound[Math.random()+.5|0]);
}

console.log("%c Scott C. Krause ⚡ Problem Solver and Visual Storyteller", "background: #000; color: #f4dc5e; font-size: 28px");
setTimeout(function(){
    a55Rev.autoOpen("js-rev__splash--id");
}, 3800);
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Person",
    "address": {
    "@type": "PostalAddress",
    "addressLocality": "Lake County",
    "addressRegion": "IL",
    "postalCode": "60031"
    },
    "email": "neo5ive@gmail.com",
    "image": "http://www.thescottkrause.com/ux/typescript/engineer/wasm/self.png",
    "jobTitle": "Sr. UX Front-end Engineer",
    "name": "Scott Krause",
    "url": "https://www.theScottKrause.com",
    "sameAs" : [ "https://github.com/neodigm",
    "https://repl.it/@neodigm",
    "https://twitter.com/neodigm24"]
}
</script>

<a55-rv class="l-reveal reveal__init">
    <div id="js-rev__splash--id" class="reveal-modal small" data-reveal aria-hidden="true"
    style="border-radius: 44px;background-color: #777; text-align: center;border-radius: 48px 12px;">
      <a class="close-reveal-modal resp_x eml-msg__x">
        <svg fill="#FFF" height="48" viewBox="0 0 22 22" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
      </a>
        <section style="text-align: center!important;margin: 0 auto;width: 488px;">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">
        <a href="https://twitter.com/hashtag/StarWars?src=hash&amp;ref_src=twsrc%5Etfw">#StarWars</a>
        <a href="https://twitter.com/hashtag/UX?src=hash&amp;ref_src=twsrc%5Etfw">#UX</a> coding challenge. Consume the Star Wars universe with
        <a href="https://twitter.com/hashtag/VueJS?src=hash&amp;ref_src=twsrc%5Etfw">#VueJS</a> .<br><br>A coding exercise designed to demonstrate proficiency in the Vue.js framework. The technologies include advanced CSS, semantic markup, browser native APIs, accessible content.<a href="https://t.co/qJbpxRVQge">https://t.co/qJbpxRVQge</a> <a href="https://t.co/Y3kPXlpnpZ">pic.twitter.com/Y3kPXlpnpZ</a></p>&mdash; neodigm24 (@neodigm24) <a href="https://twitter.com/neodigm24/status/1125809895872311301?ref_src=twsrc%5Etfw">May 7, 2019</a></blockquote>
        </section>
    </div>
</a55-rv>


</body>
</html>