/*  Document Begin */
html *
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body
{
    margin: 0;
    padding: 0;

    color: #4d473c;
    background-color: #fff;
}
body::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
}
body::-webkit-scrollbar-track
{
    background: rgba(97,73,3,.2);
}
body::-webkit-scrollbar-thumb
{
    background: #edba08;
}
a
{
    outline: none;
}
body,
html
{
    height: 100%;
}
/*  Document End */

/*  a11 tab skip Begin */
::selection
{
    color: #930;
    background: #fff600;
    text-shadow: none;
}
a.skip__main
{
    position: absolute;
    z-index: -999;
    top: auto;
    left: -999px;

    overflow: hidden;

    width: 1px;
    height: 1px;
}
a.skip__main:focus,
a.skip__main:active
{
    font-size: 1.2em;

    z-index: 999;
    top: auto;
    left: auto;

    overflow: auto;

    width: 20%;
    height: auto;
    margin: 10px 40%;
    padding: 5px;

    text-align: center;

    color: #fff;
    border: 2px solid #edba08;
    border-radius: 8px;
    background-color: #444;
}
/*  a11 tab skip End */

/*  Helper Classes Begin */
.reveal__init, .h-ds__none
{
    display: none !important;
}
.h-tx__ctr
{
    text-align: center !important;
}
.h-ht__full
{
    height: 16px;margin: 0;
}
.h-ht__half
{
    height: 8px;margin: 0;
}
.h-ht__qtr
{
    height: 4px;margin: 0;
}
.h-ro__180
{
    transform: rotate(180deg);
}
/*  Helper Classes End */

/*  Semantic Document Layout Begin */
[data-theme-night] {
    background-color: #4d473c;
}
[data-theme-day] {
    background-color: #fff;
}
main {
    display: grid;
    grid-template-columns: 304px calc(100% - 304px);
}
main nav {
    border: solid 1px #ccc;
    min-height: 100vh;
    background-color: #4d473c;
}
main nav aside {
    position: fixed;
    top: 1px; left: 1px;
    width: 280px;
    background-color: #4d473c;
}
/*  Semantic Document Layout End */

/*  H1 - H6 Begin */
h1, h2, h3, h4 {
    margin: 4px; padding: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

[data-theme-night] h1 ,[data-theme-night] h2, [data-theme-night] h3, [data-theme-night] h4 {
    color: #fff;
}
[data-theme-day] h1 ,[data-theme-day] h2, [data-theme-day] h3, [data-theme-day] h4 {
    color: #4d473c;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
/*  H1 - H6 End */
/*  readable doc Begin */
.readable__doc {
    margin: 0;
    padding: 12px;
    transition: all 1.6s;
}
.readable__doc p {
    margin: 4px; padding: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}
.readable__doc [data-theme-day] p {
    color: #4d473c;
}
.readable__doc [data-theme-night] p {
    color: #fff;
}
.readable__doc h2 {
    cursor: pointer;
    background-color: #e6dd91;
    margin-left: -36px;
    line-height: 1.6;
    padding: 2px 12px;
    border-radius: 4px;
    z-index: 16;
}
.l-prof__grd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.l-prof__grd2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.l-prof__grd aside, .l-prof__grd2 aside {
    margin: 4px; padding: 4px;
    border: solid 1px #efede1;
    border-radius: 8px;
}
.l-prof__grd h3 {
    text-align: center;
}
.l-prof__grd ul, .l-prof__grd2 ul {
    margin: 0;
    padding: 4px;
}
.l-prof__grd li, .l-prof__grd2 li {
    list-style: none;
}
.l-prof__grd li p, .l-prof__grd2 li p {
    margin: 2px; padding: 2px;
    font-weight: 300;
    font-size: 1em;
}

.l-job__grd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 16px 0 0 0; padding: 0;
    border: solid 1px #efede1;
    border-radius: 8px;
    text-align: center;
}
.l-job__grd aside {
    margin: 0 4px; padding: 4px;
}

.st__au
{
    font-weight: 500; cursor: pointer;text-decoration: underline; letter-spacing: .04em;
    color: #fbb502;
}
.st__au:hover
{
    color: #fe9800;
}

/*  readable doc End */

/*  colexp Begin  */

.colexp__hide {
    display: none;
}
[data-colexp='open'] svg {
    transform: rotate( 180deg );
    transition: all .8s;
}
[data-colexp='close'] svg {
    transform: rotate( 0deg );
    transition: all .8s;
}
/*  colexp End  */

.rev-artc::-webkit-scrollbar
{
    width: 8px;
}
.rev-artc::-webkit-scrollbar-track
{
    background: rgba(97,73,3,.4);
}
.rev-artc::-webkit-scrollbar-thumb
{
    background: #edba08;
}

.c2a
{
    font-family: 'Roboto',sans-serif;
    font-size: 19px;
    line-height: 1.4;

    display: block;

    width: 88%;
    margin: 6px auto;
    padding: 8px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: linear-gradient(#a94300, #892300);
}
.c2a:hover
{
    background: linear-gradient(#b95300, #791300);
    box-shadow: 0 0 8px #c2baa2;
}

@media only screen and (max-width:48em)
{
    /* small */
    .l-prof__grd, .l-prof__grd2 {
        grid-template-columns: 1fr;
    }
    main {
        display: block
    }
    main nav {
        display: none;
    }
    .readable__doc h2 {
        margin-left: 8px;
    }
}

@media only screen and (min-width:48.1em) and (max-width:62em)
{
    /* medium */
    .l-prof__grd, .l-prof__grd2 {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width:62.1em)
{
    /* large */

}