/*  Document Begin */
html *
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body
{
    margin: 0;
    padding: 0;

    color: #4d473c;
    background-color: #fff;
}
body::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
}
body::-webkit-scrollbar-track
{
    background: rgba(97,73,3,.2);
}
body::-webkit-scrollbar-thumb
{
    background: #edba08;
}
a
{
    outline: none;
}
body,
html
{
    height: 100%;
}
/*  Document End */

/*  a11y tab skip Begin */
::selection
{
    color: #930;
    background: #fff600;
    text-shadow: none;
}
a.skip__main
{
    position: absolute;
    z-index: -999;
    top: auto;
    left: -999px;

    overflow: hidden;

    width: 1px;
    height: 1px;
}
a.skip__main:focus,
a.skip__main:active
{
    font-size: 1.2em;

    z-index: 999;
    top: auto;
    left: auto;

    overflow: auto;

    width: 20%;
    height: auto;
    margin: 10px 40%;
    padding: 5px;

    text-align: center;

    color: #fff;
    border: 2px solid #edba08;
    border-radius: 8px;
    background-color: #444;
}
/*  a11y tab skip End */

/*  Helper Classes Begin */
.reveal__init, .h-ds__none
{
    display: none !important;
}
.h-tx__ctr
{
    text-align: center !important;
}
.h-ht__full
{
    height: 16px;margin: 0;
}
.h-ht__half
{
    height: 8px;margin: 0;
}
.h-ht__qtr
{
    height: 4px;margin: 0;
}
.h-ro__180
{
    transform: rotate(180deg);
}
/*  Helper Classes End */

/*  Semantic Document Layout Begin */
    /* theme Begin */
        .red_five--1 {background-color: #733d41;}
        .red_five--2 {background-color: #89595b;}
        .red_five--3 {background-color: #9e7677;}

        .red_six--1 {background-color: #595859;}
        .red_six--2 {background-color: #706f70;}
        .red_six--3 {background-color: #888888;}
    /* theme End */

[data-theme-night] {
    background-color: #4d473c;
}
[data-theme-day] {
    background-color: #fff;
}
main {
    display: grid;
    grid-template-columns: 60% 40%;
}

main section {
    min-height: calc( 100vh - 32px);
    background-color: #fff;
}
main section article {
    border: solid 1px #706f70;
    border-radius: 6px 16px;
    background-color: #fff;
    margin: 8px; padding: 8px;
}
main section article aside {
    display: grid;
    grid-template-columns: repeat( auto-fill, 25% );
}
main section article header h2 {
    display: block;
}
main section article header {
    display: grid;
    grid-template-columns: repeat( auto-fill, 25%);
    align-items: center;
    text-align: center;
}

/*  Semantic Document Layout End */

/*  H1 - H6 Begin */
h1, h2, h3, h4, div {
    margin: 4px; padding: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

[data-theme-night] h1 ,[data-theme-night] h2, [data-theme-night] h3, [data-theme-night] h4 {
    color: #fff;
}
[data-theme-day] h1 ,[data-theme-day] h2, [data-theme-day] h3, [data-theme-day] h4 {
    color: #4d473c;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
/*  H1 - H6 End */

/*  colexp Begin  */

.colexp__hide {
    display: none;
}
[data-colexp='open'] svg {
    transform: rotate( 180deg );
    transition: all .8s;
}
[data-colexp='close'] svg {
    transform: rotate( 0deg );
    transition: all .8s;
}
/*  colexp End  */

.rev-artc::-webkit-scrollbar
{
    width: 8px;
}
.rev-artc::-webkit-scrollbar-track
{
    background: rgba(97,73,3,.4);
}
.rev-artc::-webkit-scrollbar-thumb
{
    background: #edba08;
}

@media only screen and (max-width:48em)
{
    /* small */
    main {
        display: block;
    }
    main section {
        min-height: 44px;
    }
}

@media only screen and (min-width:48.1em) and (max-width:62em)
{
    /* medium */
    .l-prof__grd, .l-prof__grd2 {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width:62.1em)
{
    /* large */

}