/*  Document Begin */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	margin: 0;
	padding: 0;
	color: #4d473c;
	background-color: #fff;
}
body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
body::-webkit-scrollbar-track {
	background: rgba(112, 111, 112, .2);
}
body::-webkit-scrollbar-thumb {
	background: #89595b;
}
a {
	outline: none;
}
body, html {
	height: 100%;
}
/*  Document End */

/*  a11y tab skip Begin */

::selection {
	color: #930;
	background: #fff600;
	text-shadow: none;
}
a.skip__main {
	position: absolute;
	z-index: -999;
	top: auto;
	left: -999px;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
a.skip__main:focus, a.skip__main:active {
	font-size: 1.2em;
	z-index: 999;
	top: auto;
	left: auto;
	overflow: auto;
	width: 20%;
	height: auto;
	margin: 10px 40%;
	padding: 5px;
	text-align: center;
	color: #fff;
	border: 2px solid #edba08;
	border-radius: 8px;
	background-color: #444;
}
/*  a11y tab skip End */

/*  Helper Classes Begin */

.reveal__init, .h-ds__none {
	display: none !important;
}
.h-tx__ctr {
	text-align: center !important;
}
.h-ht__full {
	height: 16px;
	margin: 0;
}
.h-ht__half {
	height: 8px;
	margin: 0;
}
.h-ht__qtr {
	height: 4px;
	margin: 0;
}
.h-ro__180 {
	transform: rotate(180deg);
}
/*  Helper Classes End */

/*  Semantic Document Layout Begin */

/* theme Begin */

.red_five--1 {
	background-color: #733d41;
}
.red_five--2 {
	background-color: #89595b;
}
.red_five--3 {
	background-color: #9e7677;
}
.red_six--1 {
	background-color: #595859;
}
.red_six--2 {
	background-color: #706f70;
}
.red_six--3 {
	background-color: #888888;
}
/* theme End */

[data-theme-night] {
	background-color: #4d473c;
}
[data-theme-day] {
	background-color: #fff;
}
main {
	display: grid;
	grid-template-columns: 60% 40%;
}
main > section {

	background-color: #fff;
}
main section article {
	border: solid 1px #888888;
	border-radius: 6px 16px;
	background-color: #fff;
	margin: 8px;
	padding: 8px;
}
main section:nth-of-type(1) article {
	max-height: calc( 100vh - 78px);
	min-height: calc( 100vh - 78px);
}
main section:nth-of-type(1) article aside {
	display: grid;
	grid-template-columns: repeat( auto-fill, 16%);
}
main section article aside {
	display: grid;
	grid-template-columns: repeat( auto-fill, 25%);
}
main section article header h2 {
	display: block;
}
main section article header {
	display: grid;
	grid-template-columns: repeat( auto-fill, 32%);
	align-items: center;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
.visual__data--species {
	background-color: #f6f6f6;
	max-height: 256px;
	min-height: 224px;
	height: 100%;
	overflow: scroll;
}
.visual__data--species::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.visual__data--species::-webkit-scrollbar-track {
	background: rgba(112, 111, 112, .2);
}
.visual__data--species::-webkit-scrollbar-thumb {
	background: #89595b;
}
.visual__data--species div {
	font: 10px sans-serif;
	background-image: linear-gradient(to right, #ffffff 0%, #89595b 100%);
	border-radius: 4px;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
  }
.visual__data--bg2 { background-image: linear-gradient(to right, #ffffff 0%, #edba08 100%) !important; }
.visual__data--bg3 { background-image: linear-gradient(to right, #ffffff 0%, #9BB7D4 100%) !important; }
.visual__data--bg4 { background-image: linear-gradient(to right, #ffffff 0%, #C74375 100%) !important; }
.visual__data--bg5 { background-image: linear-gradient(to right, #ffffff 0%, #7BC4C4 100%) !important; }
.visual__data--bg6 { background-image: linear-gradient(to right, #ffffff 0%, #9B1B30 100%) !important; }
.visual__data--bg7 { background-image: linear-gradient(to right, #ffffff 0%, #FF6F61 100%) !important; }
.visual__data--bg8 { background-image: linear-gradient(to right, #ffffff 0%, #009473 100%) !important; }
.visual__data--bg9 { background-image: linear-gradient(to right, #ffffff 0%, #edba08 100%) !important; }
.voy--cont {
    max-height: calc( 100vh - 428px);
    min-height: calc( 100vh - 428px);
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: url('../../talented/rebel_bg.jpg');
	background-size: 100%;
    background-clip: content-box;
    background-repeat: no-repeat;
}
.voy--grd {
	display: grid;
	grid-template-columns: repeat( auto-fill, 16%);
	align-items: center;
	text-align: left;
	background: rgba(256, 256, 256, .9);
}
.voy--grd:hover {
	background: #fff;
}
.voy--cont::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.voy--cont::-webkit-scrollbar-track {
	background: rgba(200, 199, 200, .8);
}
.voy--cont::-webkit-scrollbar-thumb {
	background: #9e7677;
}
.voy--actions {
	text-align: center;
}
.voy--actions a {
	cursor: pointer;
	height: 32px;
	width: 32px;
	margin: 2px 8px;
}
.voy--actions a svg {
	fill: #b6b6b6;
}
.voy--grd:hover .voy--actions a svg {
	fill: #733d41;
}
.shp--cont {
	max-height: calc( 50vh - 186px);
	min-height: calc( 50vh - 186px);
	overflow-y: scroll;
	overflow-x: hidden;
}
.shp__cont--bg {
	background-position: center; 
	background-image: url('../../talented/vue_js_ship.png');
	background-size: 64%;
    background-clip: content-box;
    background-repeat: no-repeat;
}
.shp__cont--scape {
	background-position: center; 
	background-image: url('../../talented/scape.jpg');
	background-size: 100%;
    background-clip: content-box;
    background-repeat: no-repeat;
}
.shp--grd {
	display: grid;
	grid-template-columns: repeat( auto-fill, 25%);
	align-items: center;
	text-align: left;
	background: rgba(256, 256, 256, .9);
}
.shp--grd:hover {
	background: #fff;
}
.shp--cont::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.shp--cont::-webkit-scrollbar-track {
	background: rgba(200, 199, 200, .8);
}
.shp--cont::-webkit-scrollbar-thumb {
	background: #9e7677;
}
.shp--actions {
	text-align: center;
}
.shp--actions a {
	cursor: pointer;
	height: 32px;
	width: 32px;
	margin: 2px;
}
.shp--actions a svg {
	fill: #b6b6b6;
}
.shp--grd:hover .shp--actions a svg {
	fill: #733d41;
}
section:nth-of-type(2) form {
	display: grid;
	grid-template-columns: repeat( auto-fill, 32%);
	align-items: center;
	text-align: left;
	column-gap: 6px;
	margin: 4px 0;
}
section:nth-of-type(2) form input {
	display: block;
	font-size: 16px;
	color: #595859;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #888888;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	border-radius: .5em;
	background-color: #fff;
}
section:nth-of-type(2) form input:hover {
	border-color: #888;
}
section:nth-of-type(2) form input:focus {
	border-color: #888888;
	box-shadow: 0 0 1px 3px rgba(158, 118, 119, .6);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
/*  CTA Begin  */

section:nth-of-type(2) form a {
	cursor: pointer;
	display: block;
	font-size: 16px;
	color: #fff;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #888888;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	border-radius: .5em;
	background-color: #733d41;
    text-align: center;
    transition: all 2s;
}
section:nth-of-type(2) form a:hover {
	border-color: #888;
}
section:nth-of-type(2) form a:focus {
	border-color: #888888;
	box-shadow: 0 0 1px 3px rgba(158, 118, 119, .6);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
section:nth-of-type(2) form a.cta_invalid {
	cursor: not-allowed;
    background-color: #888;
    transition: all 2s;
}
/*  CTA End  */

.select-css {
	display: block;
	font-size: 16px;
	color: #595859;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #888888;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23733d41%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #888888;
	box-shadow: 0 0 1px 3px rgba(158, 118, 119, .6);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight: normal;
}
/*  Semantic Document Layout End */

/*  H1 - H6 Begin */

h1, h2, h3, h4, div, a {
	margin: 4px;
	padding: 2px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}
[data-theme-night] h1, [data-theme-night] h2, [data-theme-night] h3, [data-theme-night] h4 {
	color: #fff;
}
[data-theme-day] h1, [data-theme-day] h2, [data-theme-day] h3, [data-theme-day] h4 {
	color: #4d473c;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
/*  H1 - H6 End */

.rev-artc::-webkit-scrollbar {
	width: 8px;
}
.rev-artc::-webkit-scrollbar-track {
	background: rgba(97, 73, 3, .4);
}
.rev-artc::-webkit-scrollbar-thumb {
	background: #edba08;
}

/* Vivid Vector Begin */ 
.viv-cont {
    padding: 0;
    position: fixed;
    right: 0; left: 0; top: 0;
    z-index: 96;
}
.alpha-grd {
	cursor: pointer;
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax(26px, 64px));
	background-color: #790300;
	background-image: linear-gradient(to bottom, #220000 10%, #000 90%);
	padding: 12px;
}
.alpha-grd img { max-width: 40px; margin: 4px 8px;}
.alpha-grd__hide { display: none; }
.truth-bang {
    cursor: pointer;
    display: block;
    text-align: right;
    height: 32px; width: 32px;
    margin: 0 0 0 auto;
}
.truth-bang img {
    height: 32px; width: 32px;
}
/* Vivid Vector End   */ 

/* svg icons Begin */
.cptn-intract__vect{
	fill: #4d473c;
}
.cptn-intract__vect:hover{
	fill: #490100;
}
/* svg icons End   */

@media only screen and (max-width:48em) {
	/* small */
	main {
		display: block;
	}
	main section {
		min-height: 44px;
	}
	.voy--grd div {
		font-size: 10px;
	}
	.voy--actions a {
		cursor: pointer;
		height: 22px;
		width: 22px;
		margin: 2px;
    }
    section:nth-of-type(2) form {
        column-gap: 6px;
        margin: 2px 0;
	}
	.visual__data--species {
		display: none;
	}
	.voy--cont {
		max-height: calc( 100vh - 224px);
		min-height: calc( 100vh - 224px);		
	}
	.alpha-grd { grid-template-columns: repeat( auto-fill, minmax(16px, 32px)); }
	.alpha-grd img { max-width: 32px; }
}
@media only screen and (min-width:48.1em) and (max-width:62em) {
    /* medium */
    main {
        grid-template-columns: 50% 50%;
    }
    section:nth-of-type(2) form {
        column-gap: 6px;
        margin: 2px 0;
	}
	.visual__data--species {
		display: none;
	}
	.voy--cont {
		max-height: calc( 100vh - 224px);
		min-height: calc( 100vh - 224px);		
	}
}
@media only screen and (min-width:62.1em) {
	/* large */
}
